@font-face {
    font-family: 'Helvetica Neue Cyr Light';
    src: url('../../assets/fonts/Helvetica/HelveticaNeueCyr-Light.eot');
    src: url('../../assets/fonts/Helvetica/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Helvetica/HelveticaNeueCyr-Light.woff') format('woff'),
    url('../../assets/fonts/Helvetica/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}